img {
    border-style: double;
    border-color: bisque;
}
h1 {

}
/* body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} */
.title, .heading, .container {
    justify-content: center;  
    align-items: center; 
    margin: auto;
    text-align: center;
}
.titleCont, .headCont {
    background-color: rgba(166, 208, 221, 0.568);
    border-style: double;
    border-color: rgba(166, 208, 221, 0.568);
    padding-block: 20px;
}
.buttonCont {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: inherit;
    font-size:xx-large;
}
.fact, .buttonCont {
    background-color: rgba(196, 126, 126, 0.9);
    border-style:ridge;
    border-color: rgba(196, 126, 126, 0.9);
    padding-top: 5px;
}
.fact {
    border-top: inherit;

    padding-top: 5px;
    font-family: cursive;
}
.pic {
    padding-top: 20px;
}
.button {
    margin-left: 10px;
    background-color: darkseagreen;
    font-size: 20px;
    cursor: pointer;
}
.button:hover {
    background-color: #bea721; /* Green */
    color: white;
  }
  .footer {
    background-color: cornsilk;
  }
  .titleCont {
    background-color: rgba(166, 208, 221, 0.75);
    border-style: double;
    border-color: rgba(166, 208, 221, 0.568);
    padding-block: 20px;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  }
  .button {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }